<BODY bgcolor=#cc0066>
<TABLE WIDTH=100% CELLPADDING=0 CELLSPACING=0><TR><TD>
<font face=sans-serif size=+1 color=#ff99cc>
Server Maintenance Scripts
</TD><TD ALIGN=RIGHT>
<font face=sans-serif size=+1 color=#ff99cc>
Copyright &#169 1998-2011 by SQL Technologies
</TD></TR></TABLE>
</body>
